h1{
    color: deeppink;
    text-align: center;
}
p{
    font-size: 26px;
    color: rgb(236, 43, 236);
    background-color:rgb(14, 14, 172);
    text-align: justify;
    margin-left: 75px;
    margin-right: 75px;
    border-left: 5px solid rgb(45, 241, 78);
    border-radius: 10px;
}